body{
    margin: 0;
    background-color: aliceblue;
}

h1,h2{
    margin: 0;
}

.container{
    background-color: #FF9800;
}

.header__banner{
    width: 100%;
    height: 10rem;
    background-image: url("./images/cli.jpeg");
}